# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Qt Creator Builds
build-*
TotkArmorTracker_Rev2/AppController.cpp
TotkArmorTracker_Rev2/data/userData.xml
TotkArmorTracker_Rev2/main.cpp
TotkArmorTracker_Rev2/qml.qrc
TotkArmorTracker_Rev2/TotkArmorTracker.pro.user
TotkArmorTracker_Rev2/TotkArmorTracker.pro.user.9d20366
